{% extends '_layouts/base.html' %}

{% block content %}
        <div class="section page-content">
			<div class="container">
				<div class="row">
					<!-- ///////////////////////////////////////////////////////// -->
					<div class="content-box" style="text-align: center">
						<h4 style="color: navy; text-align: center">
							Контент сторінки:
						</h4>
						<h3 style="color: darkcyan; font-size: 1.5em">
							{{ title }}
						</h3>
					</div>
					<!-- ///////////////////////////////////////////////////////// -->
				</div>
			</div>
		</div>
{% endblock %}