{% extends '_layouts/base.html' %}

{% block content %}
{% load static %}
        <div class="section page-content">
			<div class="container">
				<div class="row">
					<!-- ///////////////////////////////////////////////////////// -->
					<div class="content-box" style="text-align: center">
						<table id="orders-table" class="table table-striped">
                            <thead>
								<tr>
									<th>ID</th>
									<th>Замовлення</th>
									<th>Товар</th>
									<th>Ціна</th>
									<th>Дата</th>
									<th>Кількість</th>
									<th>Вибір</th>
									<th>Управління</th>
								</tr>
							</thead>
							<tbody>
							{% for order in user_orders %}
								<tr>
									<td class="id-cell">{{ order.id }}</td>
									<td>{{ order.code }}</td>
									<td>{{ order.product.name }}</td>
									<td class="price-cell">{{ order.product.price }}</td>
									<td>{{ order.date }}</td>
									<td class="count-cell">
										<input type="number" class="count" min="1" value="{{order.count}}">
									</td>
									<td>
										<input type="checkbox" class="check" value="yes" checked>
									</td>
									<td>
										<input type="hidden" value="{{order.id}}">
										<button class="btn btn-sm btn-warning del-btn">Видалити</button>
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
						<hr>
						<br>
						<div>
							<h5>
								Загальна сума до сплати: &nbsp;
								<span id="total" style="color: red">0.00 грн</span>
							</h5>
						</div>
						<p>
							<a id="bill-btn" href="/orders/bill/1,2,3" class="btn btn-success">
								Перейти до замовлення
							</a>
						</p>
					</div>
					<!-- ///////////////////////////////////////////////////////// -->
				</div>
			</div>
		</div>
		<style>
			p {
				margin-top: 20px;
			}
			#orders-table td {
				vertical-align: middle;
			}
			.count {
				width: 50px;
				text-align: center;
				color: green;
			}
			input[type="number"]:not([step="any"])::-webkit-inner-spin-button,
			input[type="number"]:not([step="any"])::-webkit-outer-spin-button {
				opacity: 1;
			}
		</style>
		<script src="{% static 'js/calc_order.js' %}"></script>
{% endblock %}